<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/">Regresar</ion-back-button>
    </ion-buttons>
    <ion-title>avatar</ion-title>

    <ion-buttons slot="end">
      <ion-avatar>
        <!-- <img
          alt="Silhouette of a person's head"
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
        /> -->

        <!-- ion-img es mediante lazy (Más Eficiente) -->
        <ion-img
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
        ></ion-img>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- ion chip -->
  <ion-chip>
    <ion-avatar>
      <img
        alt="Silhouette of a person's head"
        src="https://ionicframework.com/docs/img/demos/avatar.svg"
      />
    </ion-avatar>
    <ion-label>Chip Avatar</ion-label>
  </ion-chip>

  <!-- ion list -->
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img
          alt="Silhouette of a person's head"
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
        />
      </ion-avatar>
      <ion-label>Item Avatar</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
